<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ForgetPage.css">
    <title>Reset</title>
</head>
<body>
    <form action="/Home" method="post">
        <button id="home">GO Back To Login</button>
    </form>
    <h1>Reset your password?</h1>
    <form action="/reset" method="post">
        <div class="input">
            <input type="password" name="psd" autocomplete="off" placeholder="請輸入新密碼">
            {{#if error4}}
                    <div class="alert alert-danger" role="alert">
                        {{error4}}
                    </div>
            {{/if}}
            <button id="ReBtn">Reset</button>
        </div>
    </form>
</body>
</html>