<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ForgetPage.css">
    <title>Reset</title>
</head>
<body>
    <form action="/Home" method="post">
        <button id="home">GO Back To Login</button>
    </form>
    <h1>Reset your password?</h1>
    <form action="/Next" method="post">
        <div class="input">
            <input type="email" name="ID" autocomplete="off" placeholder="請輸入您的email">
            {{#if error3}}
                    <div class="alert alert-danger" role="alert">
                        {{error3}}
                    </div>
            {{/if}}
            <button id="NextBtn">Next</button>
        </div>
    </form>
</body>
</html>