<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/HomePage.css">
</head>
<body>
    <div class="navbar">
        <p>Hello !</p><p> {{ID}}</p>
        <form action="/logout" method="post">
        <button>LOG OUT</button>
        </form>
    </div>
    <div class="container">
        </form>
        <h1>Welcome to EMIC HomePage</h1>
        <div class="brief">
            <div class="b1">
                <p>這是一個註冊登入頁面實作。</p>
                <p>運用hbs、CSS、JS、NodeJS、MongoDB，完成畫面設計排版、伺服器連結及資料庫串接。</p>
            </div>
            </br>
            <div class="b2">
                <p>實作說明：</p>
                <p>1.以電子郵件、密碼作為登入必要資訊，姓名則為註冊時所需提供之必要資訊。</p>
                <p>2.運用flash來設計〔登入頁面、註冊頁面、重設密碼流程〕中，必填欄位檢核之提示訊息。</p>
                <p>3.練習運用JWT來驗證uesr，登入時會確認user是否帶有可被驗證的Token，若驗證成功，則可成功登入。</p>
                <p>4.利用bcryptjs對「密碼」做加解密處理，讓被儲存的「密碼」以進行雜湊後的結果紀錄儲存於資料庫中。</p>
                <p>5.該實作練習之重設密碼功能，目前還無法真正做重設定。</p>
            </div>
        </div>
    </div>
</body>
</html>